/* Reset para evitar márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img {
    margin: 10px;
    width: 100%; /* Las imágenes ocupan el 100% del contenedor que las envuelve */
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave */
}

/* Estilo para el contenedor de la galería */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Contenedor para cada fila de imágenes */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    /* Ancho del contenedor */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan */
   
}

/* Estilo para las imágenes */
.image {
    margin: 10px;
}

/* Efecto hover para las imágenes */
.image img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen un 10% */
    opacity: 0.8; /* Reduce ligeramente la opacidad de la imagen */
}

/* Adaptación para pantallas más pequeñas (móvil) */
@media (max-width: 670px) {
    .image-container {
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }

    .image {
        width: 80%; /* Las imágenes ocupan el 80% del contenedor */
        margin-bottom: 15px;
    }
}

/* Adaptación para pantallas medianas (de 671px a 940px) */
@media (min-width: 671px) and (max-width: 940px) {
    .image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* Permite que las imágenes se envuelvan a la siguiente fila */
        margin: 25px;
    }

    .image {
        width: 45%; /* Las imágenes ocupan el 45% del contenedor (dos por fila) */
        margin: 25px;
        margin-bottom: 15px;
        /* Espaciado entre las filas */
    }
}

/* Adaptación para pantallas grandes (de 941px a 1280px) */
@media(min-width: 941px) and (max-width: 1280px) {
    .image-container {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .image {
        width: 22%; /* Las imágenes ocupan el 22% para 4 imágenes por fila */
        margin: 25px;
    }
}

/* Pantallas muy grandes (mayores de 1280px) */
@media (min-width: 1281px) {
    .image-container {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .image {
        width: 22%; /* Las imágenes ocupan el 22% para 4 imágenes por fila */
        margin: 25px;
    }
}
