/* Reset para evitar márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img {
    margin: 10px;
}

/* Estilo para el contenedor de la galería */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Contenedor para cada fila de imágenes */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    border-color: red;
    border-style: solid;
    /* Ancho del contenedor */
}

/* Estilo para las imágenes */
.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin: 20px;
}

/* Diseño de imagen: márgenes entre las imágenes */
.image {
    width: 30%;
    margin: 25px 25px;
    /* Márgenes entre las imágenes */
}

/* Adaptación para pantallas más pequeñas (móvil) */
@media (max-width: 640px) {
    .image-container {
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }

    .image {
        width: 80%;
        /* Las imágenes ocupan el 80% del contenedor */
        margin-bottom: 15px;
        margin: 25px;
    }
}

/* Adaptación para pantallas medianas (de 641px a 940px) */
@media (min-width: 641px) and (max-width: 940px) {
    .image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* Permite que las imágenes se envuelvan a la siguiente fila */
        margin: 25px;
    }

    .image {
        width: 45%;
        /* Las imágenes ocupan el 45% */
        margin: 25px;
        margin-bottom: 15px;
        /* Espaciado entre las filas */
    }
}

/* Adaptación para pantallas grandes (de 941px a 1080px) */
@media(min-width: 941px) and (max-width: 1280px) {
    .image-container {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .image {
        width: 30%;
        /* Las imágenes ocupan el 30% */
        margin: 25px;
    }
}

/* Pantallas muy grandes (mayores de 1280px) */
@media (min-width: 1281px) {
    .image-container {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .image {
        width: 30%;
        /* Las imágenes ocupan el 30% */
        margin: 25px;
    }
}