/* Reset y configuraciones generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    /* Altura total de la pantalla */
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    /* Por defecto en columna */
    height: 100%;
    /* Ocupa toda la pantalla */
}

/* Estilos de las cajas */
.container>div {
    text-align: center;
    color: white;
}

/* Colores específicos para cada sección */
.header {
    background-color: #f4b400;
    /* Amarillo */
}

.article {
    background-color: #bd18a1;
    /* Verde claro */
}

.nav {
    background-color: #9fa8da;
    /* Azul claro */
}

.aside {
    background-color: #9fa8da;
    /* Azul claro */
}

.footer {
    background-color: #b31717;
    /* Amarillo */
}

/* Diseño para pantallas grandes (más de 640px) */
@media (min-width: 640px) {
    .container {
        flex-direction: column;
    }

    .header {
        flex: 0 0 auto;
        /* Header siempre arriba */
        height: 45px;
    }

    .main {
        display: flex;
        flex: 1;
        height: auto;
        /* Asegura altura automática */
    }

    .nav {
        flex: 0 0 15%;
        /* Nav ocupa el 15% */
    }

    .article {
        flex: 0 0 70%;
        /* Article ocupa el 70% */
    }

    .aside {
        flex: 0 0 15%;
        /* Aside ocupa el 15% */
    }

    .footer {
        flex: 0 0 auto;
        /* Footer siempre abajo */
        height: 45px;
    }
}

/* Diseño para pantallas pequeñas (menos de 640px) */
@media (max-width: 639px) {
    .container {
        flex-direction: column;
    }

    .header {
        flex: 0 0 auto;
        /* Header siempre arriba */
        height: 10%;
    }

    .main {
        display:inline;
        flex: 1;
        height: auto;
        /* Asegura altura automática */
    }

    .article {
        order: 2;
        height:90%;
    }

    .nav {
        order: 3;
        height: 5%;
    }

    .aside {
        order: 4;
        height: 5%;
    }

    .footer {
        order: 5;
        height: 10%;
    }
}